.main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
   
}
.cart-container{
    margin-right: 5px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* background-color: rgb(173, 185, 181); */
  
}